
/* HEADER NAVBAR */
#headpage{
background-color: var(--white-color);
}
.headpage-navbar__wrap{
height: 78px;
display: flex;
align-items: center;
}

.headpage-navbar__wrap2{
height: calc(78px / 2);
display: flex;
align-items: center;
display: none;
}
.open-navbar{
    font-size: 2.8rem;
    color: var(--color-text);
    margin: 0 auto 2.6rem;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}
/* check input close / open navbar */
#check-navbar:checked ~ .contain-navbar__mobile-tablet{
    transform: translateX(0);
  

}
/* navbar display in mobile and tablet */
.icon-close-navbar{
    color: var(--white-color);
    font-size: 1.8rem;
    position: absolute;
    right: 0;
}
.contain-navbar__mobile-tablet{
  
    position: fixed;
    overflow-y:auto;
     top: 0;
    right: 0;
    width: 320px;
    height: 100vh;
    background-color: var(--primary-color);
    z-index: 99;

    padding: 3rem;
    transform: translateX(100%);
    transition: all 0.5s ease-out;
 
}
.icon-close-navbar{
    color: var(--white-color);
    font-size: 3rem;
    position: absolute;
    right: 3rem;  
}
.lists-navbar-contents__mobi-tab{
    position: absolute;
    top:6rem ;
}
.navbar-mobi-tab__item:first-child{
    margin-bottom: 3.8rem;
}
.navbar-mobi-tab__item:not(:first-child){
    margin-top: 2.8rem;
    padding-bottom: 1.6rem;
}
.contain-navbar__mobile-tablet ul {
    list-style: none;
    padding-left: 0;
   
}
.navbar-mobi-tab__menu2 a{
    text-decoration: none;
    font-size: var(--font-size-16);
    color: var(--white-color);
    font-weight: 400;
    display: block;
    padding: 1.6rem 0;
    
}
.navbar-mobi-tab__menu3{
    margin-left: 4rem;
}
.navbar-mobi-tab__link{
font-size: var(--font-size-24);
color: var(--white-color);
text-decoration: none;
font-weight: 400;
display: block;
}
/*     */





.hnavbar-img{
-webkit-tap-highlight-color: transparent;
}
.hnavbar-img__logo{
width: 170px;


}
.hnavbar-list{
    width: 100%;
display: flex ; 
list-style: none;
align-items: center;
justify-content: space-between;
margin-left: 38px ;
}
.contain-navbar{
   width: 84%;
}
.hnavbar-wrap{
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.hnavbar-item{
position: relative;
font-size: var(--font-size-16);
font-weight: 400;
display: block;


letter-spacing: 1px;
}
.hnavbar-item__link{
text-decoration: none;
color: var(--color-font-head);
display: block;

}
/* menu cap 2 va cap 3 cua header */
/* menu cap 2 */
.menu-cap2 {
    position: absolute;
    list-style: none;
    right: 0;
    background-color: var(--white-color);
    box-shadow: 0px 1px 12px -1px rgb(255, 255, 255);
    top: calc(100% + 27px);
    width: 190px;
    left: -20px;
    display: none;
    z-index: 1;
  }
  .menu-cap2::after{
      content: "";
      position: absolute;
      top: calc(100% + 27px);
      width: 66%;
      left: 0;
      height: 34px;
      top: -30px;
  }
  .hnavbar-item:hover .menu-cap2{
      display: initial;
  }
  .menu-capC-item-link {
   padding: var(--pading-15) 20px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: var(--font-size-14);
    color: var(--color-font-head);
  }
  .menu-capC-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
  }
  /* menu cap 3 */
  .menu-cap3-list{
      position: absolute;
      list-style: none;
      background-color: var(--white-color);
      box-shadow: 0px 1px 12px -1px rgb(255, 255, 255);
      top: calc(100% - 46px);
      width: 190px;
      left: 212px;
      display: none;
      z-index: 1;
  }
  .menu-cap3-list::before{
      position: absolute;
      content: "";
      width: 26px;
      height: 56px;
      top: 0;
      left: -22px;
  }
  .menu-capC-item:hover .menu-cap3-list{
      display: initial;
  }
  /* icon va noti cua menu 2 | 3 */
.pk-item__noti{
    font-size: 1rem;
padding: 3px 5px ;
color: var(--white-color);
line-height: 10px;
border-radius: 3px;
margin-right: var(--margin-18);
}
.pk-item__noti--red{
    background-color: var(--color-tomato);
}
.pk-item__noti--green{
    background-color: var(--color-blue);
}
.pk-item__noti--mint{
    background-color: var(--color-mint);
}
.menu-pk-item__icon{
    color: var(--color-font-ml) ;
 font-size: var(--font-size-13);
 margin-right: var(--margin-18);
}

/* slider */
#slider{ 
    position: relative;
    padding-top: 40%;

}
@media(max-width:1352px){
    #slider{
      
        padding-top: 53%;
      }
}@media(max-width:700px){
    #slider{
      
        padding-top: 70%;
      }
}
.slider-img{
    width: 100%;
  height: 100%;
  background: url(../img/anh/slide-01.jpg) center center / cover no-repeat;
position: absolute;
top:0
}
.slider-lists{
position: absolute;
top: 20%;
right:16%;
transform: translateX(16%);

}

.slider-lists-texts{

    font-size: var(--font-size-25);
   transform: rotate(-3deg);
   text-align: center;
  
  
 
}
.slider-text__color--primary{
    color: var(--primary-color);
}
.slider-text__up{
     padding:var(--pading-23) var(--pading-21) ;
      background-color: var(--color-font-ml);
        color: var(--white-color);
        margin: 0 0 4px;
        letter-spacing: 1px;
        animation: sliderLeft ease-in-out 0.6s;
}
@keyframes sliderLeft{
    from{
        opacity: 0;
        transform: translateX(-46%);
    }
    to{
        opacity: 1;
        transform: translateX();
    }
}
.slider-text__below{
    padding:var(--pading-23) var(--pading-13) ;
     background-color: var(--color-font-ml);
       color: var(--white-color);
    display: inline-block;
       margin: 0;
       animation: sliderRight ease-in-out 0.6s;
}
@keyframes sliderRight{
    from{
        opacity: 0;
        transform: translateX(46%);
    }
    to{
        opacity: 1;
        transform: translateX();
    }
}
.slider-lists-benefits{
   

    list-style: none;
    margin: 26px 0 20px;
    width: 350px;
text-shadow: 0.5px 0.5px rgb(184, 182, 182);

}
.sbenefits-item{
    display: flex;
    font-size: 1.8rem;
    color: var(--white-color);
    margin: 23px 0;
   
    }
    .sbenefits-text{
font-weight: 500;
line-height: 32px; 

animation: sliderTranslate ease-in-out 0.6s;
}
@keyframes sliderTranslate{
from{
    opacity: 0;
    
transform: translate3d(70px , 0 ,-122px) ;

}
to{
    opacity: 1;  
transform:translate3d(0) ;
}
}
.slider__icon{
    margin: 5px 22px 0 0;
color: var(--white-color);
}
.slider-button{
    position: relative;
  
   transform-origin: top ;
  animation:  sliderRotate ease-in-out  0.7s ;
  
}

@keyframes sliderRotate{
    from{     
        opacity: 0;
        transform: rotate3d(1, 0 ,0  ,90deg);
    }
    to{
        opacity: 1;
        transform: rotate3d(0);
    }
}

.slider-button__buy{
    padding: 16px 61px;
    font-size: var(--font-size-20);
}
.slider-noti{
    position: absolute;
    top: -28px;
    right: 49%;
    font-size: var(--font-size-15);
    color: var(--white-color);
    padding: 14px 11px;
    background-color: var(--color-font-ml);
    border-radius: 50%;
}
/* content */
/* tour paris */
.tour-paris__img{
    width: 100%;
    height: 658.5px;
    background: url("../img/anh/anh-gai__xem-bando.jpg") center / cover no-repeat;
    position: relative;
}
.tour-paris__content{
line-height: var(--line-height-30);

margin: 70px 0 0 70px;
}
.tour-paris{
padding-top: 75px
}
.tour-paris__text-intro{
font-size: var(--font-size-15);
color: var(--color-text);
font-weight: 400;
}
.tour-paris__text-title{
font-size: var(--font-size-36);
color: var(--color-font-ml);
 
 letter-spacing: 1.2px;
}
.tour-paris__text-title span{
    position: relative;
}
.underlined{
     content: "";
    display: block;
    position: absolute;
    width: 194px;
    height: 6px;
    background-color: var(--primary-color);
    z-index: -99;
    transform: rotate(-1deg);
    top: 69%;
    right: 0;
    
}

.tour-paris__button{
    margin: 38px 0 25px;
font-size: var(--font-size-15);
font-weight: 400;
padding: 8px 38px;
}
.tour-paris__img-play{
width: 20%;
position: absolute;
top: 42%;
right: 39%;
}
.tour-paris__img-link-list{
    transform:translateY(-122%);
}
.tour-paris-img__sm{
    width: 100%;
    
}
.tour-link-tick{
    position: relative;
    margin-top: 16px;
}
.tour-paris-cash{
    position: absolute;
    font-size: var(--font-size-13);
    font-weight: 400;
    transform: translateX(-122%);
    top: 20px;
right: -74px;
}
/* tour-benefits */
.tour-benefits__background{
    background-color: var(--color-font-ml);
    padding: 76px 0 100px;
}

.tbenefits-titles{
   text-align: center;
   line-height: var(--line-height-30);
   color: var(--white-color);
   letter-spacing: 1px;
  
}
.tbenefits-title__up{
    font-size: var(--font-size-15);
    font-weight: 400;
}
.tbenefits-title__below{
    font-size: var(--font-size-36);
    margin: 28px 0 0;   
     
     
}
.tbenefits-title__below u{
    text-decoration: none;
    position: relative;
    z-index: 1;
}
.tbenefits-title__below u::after{
    content: "";
    display: block;
    position: absolute;
    width: 180px;
    height: 6px;
    background-color: var(--primary-color);
    z-index: -1;
    bottom: 6px;
    left: 1px;
}


.tbenefits-list__item{
color: var(--white-color);
line-height: 20px;
display: flex;
margin-top: 52px;
}

.tbenefits-img-title{
margin-left: 22px;
}
.tbenfits-img{
    width: 5rem;
    height: 5rem;
}
.tbenefits-title{
    font-size: var(--font-size-25);
    font-weight: 600;
    letter-spacing: 1px;
}
.tbenefits-list__item .tbenefits-paragraph{
padding: 22px 0 26px;
color: var(--white-color);
}
.tbenefits-button{
    font-size: var(--font-size-15);
    font-weight: 400;
    letter-spacing: 1px;
}

/*  TOUR -TICKETS*/
.tour-tickets{
    padding-top: 76px;
}
/* ticket sale */
.tickets-sale{
    background-color: var(--primary-color);
    margin-bottom: 4.2rem;
}
.tickets-wrap{
  line-height: 30px;
  padding: 80px 40px 90px;
  color:var(--white-color);
  text-align: center;
  letter-spacing: 1px;
}
.tickets-sale__intro{
   font-size: var(--font-size-16);

}
.tickets-sale__title{
   font-size: var(--font-size-36);
}
.tickets-sale__title-2 {
    text-decoration: none;
    position: relative;
z-index: 1;
font-weight: 500;
font-size: var(--font-size-36);
margin: 20px 0 0;
display: inline-block;

}
.tickets-sale__title-2::after{
    position: absolute;
    content: "";
    top: 23px;
    height: 6px;
    width: 96px;
    background-color: #da9360;
    z-index: -1;
    left: -3px;
}
.tickets-time-wrap{
display: flex;
justify-content: space-between;
padding-top: 28px;
}
.tickets-sale__time{
   text-align: center;
   letter-spacing: 1px;
}

.tickets-numbers__sale{
    font-size: 38px;
    font-weight: 500;
    margin: 0;
}
.tickets-word__time{
font-size: var(--font-size-16);
font-weight: 400;
padding: 12px 0 0;
}
.tickets-sale__btn{
   font-size: var(--font-size-15);
  color: var(--primary-color);
  font-weight: 400;
  margin-top: 30px;
  padding: 8px 40px;
  letter-spacing: 1px;
}
/* TICKETS */

.tickets-wrap-img{
   position: relative; 
  
}
.tickets-img{
 width: 100%; 

}
.tickets-contents{
padding: 32px 30px;

}
.tickets-contens-link{
text-decoration: none;
}
.tickets-name-city{
font-size: var(--font-size-24);
font-weight: 600;
color: var(--color-font-ml);
}
.tickets-local{
    padding-top: 12px;
font-size: var(--font-size-16);
font-weight: 400;
color: var(--color-text);
}
.tickets-icon{
font-size: var(--font-size-14);
}

.tickets-cultural-cash{
display: flex;
justify-content: space-between;
align-items: center;
margin: 36px 0;
color: var(--color-font-ml);
}
.tickets-cultural{
font-size: var(--font-size-15);
font-weight: 400;
line-height: 20px;
}
.tickets-cash{
font-size: var(--font-size-25);
font-weight: 400;

}
/* neu moi giam gia */
.tickets-cash__old{
    font-size: var(--font-size-20);
    color: var(--color-text);
    position: relative;
}
.tickets-cash__old::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 1.2px;
    top: 50%;
    background-color: var(--color-text);
    right: 0;
}
.tickets-btn{
font-size: var(--font-size-16);
font-weight: 400;
margin-top: 30px;
}
/* anh nho phia goc phai anh va la duong link dan toi trang ban */
.tickets-img-link{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    position: absolute;
    right: 22px;
 
    bottom: -16px;
}
.timg-link-local{
width:35px;
margin: auto;
}
/* tour-news */
.tour-news__title{
    text-align: center;
    width: 100%;
    line-height: 30px;
    letter-spacing: 1.2px;
    padding-top: 86px;
}
.tour-news__text-up{
font-size: var(--font-size-15);
color: var(--color-text);
font-weight: 400;
}
.tour-news__text-below{
font-size: var(--font-size-36);
color: var(--color-font-ml);
}
.tour-news__text-below div{
   position: relative;
   display: inline-block;
   z-index: 1;  
}
.tour-news__text-below div::after{
    content: "";
    position: absolute;
    background-color: var(--color-mint);
    height: 5px;
    width: 100%;
   right: 0;
   bottom: 2px;
   z-index: -1;
    
}
.tour-news{
    display: flex;
    flex-wrap: wrap;
margin:12px 0 18px;
}
.tour-news__img{
    width: 50%;
    object-fit: cover;
}
.tour-news-contents{
width: 50%;
padding: 32px 28px;
line-height: 34px;
letter-spacing: 1px;
}
.tnews-category{
font-size: var(--font-size-16);
font-weight: 400;
}
.tnews-category__title{
font-size: 2.3rem;
font-weight: 600;
padding-bottom: 12px;
}
.tnews-button{
    margin-top: 20px;
}
.tnews-btn{
    font-size: var(--font-size-14);
    font-weight: 400;
   
}

/* footer */
#footer{
    padding-top: 49px;
}
.footer-img{
  min-height: 550px ;
    background: url(../img/anh/anh-gai__xem-bando.jpg) center / cover no-repeat;
    position: relative;
}
.footer-wrap{
  position: absolute;
 top:50% ;
  right: 50%;
  transform: translate(50% , -50%);
}
.footer-contents{
   
    background-color: var(--white-color);
    display: flex;
    margin: auto auto 0;
 
}
.footer-contents-right{
padding: 40px 0 4rem 45px;
}

.footer-contents-left{
   display: flex;
   align-items: center;
  padding-bottom: 4rem;
  padding-top: 5rem;
}
.footer-contents__ul{
    display: flex;
    flex-flow: column;
    height: 100%;
}
.footer-img-logo{
    width: 150px;
    margin-bottom: 20px;
}
.footer-icon-social{
font-size: var(--font-size-24);
padding-top: var(--panding-24);
}
.footer-icon-social i{
    color: var(--color-font-ml);
padding-right: var(--pading-13);
}
.footer-category{
font-size: var(--font-size-15);
font-weight: 600;
letter-spacing: 1.8px;
color: var(--color-font-ml);
margin-bottom: 30px;
}
.footer-contents-category{
list-style: none;
font-size: var(--font-size-15);
color: var(--color-text);
font-weight: 400;
}
.footer-item{
padding: 6px 0 ;
}
.footer-item__icon{
    font-size: 10px;
}
.footer-item__text{
padding-left: 6px;
}
.footer-below{
   
    height: 53px;
    background-color: var(--primary-color);
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-13);
    color: var(--white-color);
    font-weight: 400;
    letter-spacing: 1.8px;
    padding: 0 40px;
}
